body{
	background-color:black;
}
h1{
	position:relative;
	left:200px;
	font-size:30px;
	color:white;
}
h2{
	position:relative;
	bottom:10px;
	left:550px;
	font-size:12px;
	color:white;
}